<h1>Determine Your Allergies!</h1>
<form action="/result">
  <label for="number">Enter the number of cents to be converted</label>
  <input id="number" name="number" type="number"/>
  <button type="submit">Submit!</button>
</form>
